﻿@model OrganiserModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@{
    if (Model.FileList == null)
    {
        <h4>Load settings to begin</h4>
    }
    else
    {
        @Html.Partial("List", Model.FileList)
    }
}
